extends layout
block content
    article.home-article
        div.main-part.pageTitle
            h1.pageTitle #{article.title}
        div.main-part.subPage #{polishDate(article.date)} Przez: 
            a(href="/users/"+article.author) #{ucfirst(author)}
        div.main-part.subPage
            .home-article-content !{article.content}
            if allowEdit
                div    
                    a.btn.btn-edit(href="/articles/edit/" + article._id) Edytuj
                    a.btn.btn-danger(href="/articles/delete/" + article._id) Usuń
        if logs
            .main-part.logsSection
                each log, i in logs
                    div.articleLogs
                        span Artykuł edytowany przez: 
                            a(href="/users/"+log.editorId)= ucfirst(log.editor)
                        span Powód: #{log.reason}
                        span #{polishDate(log.date)}

    #disqus_thread