extends layout

block content
    .main-part.pageTitle
        h1.pageTitle Edycja profilu użytkownika: #{ucfirst(userP.username)}
    .main-part.subPage
        .userProfileTitle
            h2 Informacje
        .userInfo
            if allowEdit
                a.btn.btn-edit.btn-right(href="/edit/"+userP._id) Edytuj
            form(action='/users/edit/'+userP._id method='POST')
                .infoRow
                    span.info Rejestracja
                    span.value #{fullDate(userP.registerDate)}
                .infoRow
                    span.info Ranga
                    if superEdit
                        span.value 
                            select(name='type')
                                each rank, i in ranks
                                    if rank._id.toString() == userP.type.toString()
                                        option(value=rank._id selected='selected') #{polishRank(rank.name)}
                                    else
                                        option(value=rank._id) #{polishRank(rank.name)}
                    else
                        span(class="value type-"+userP.type) #{polishRank(userP.type)}
                .infoRow
                    span.info Email 
                    span.value 
                        input(type='text' name='email' value =userP.email)
                .btn-right
                    input.btn.btn-edit(type='submit' value='Edytuj')
                    a.btn.btn-submit(href="/users/"+userP._id) Wróć
