extends layout

block content
    div.main-part.pageTitle
        h1.pageTitle Strona główna
    div.main-part.subPage
        each article, i in articles
            if article.displayed
                article.home-article
                    div.article-left
                        -var monthName = ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad','Grudzień']
                        -var d = article.date.getDate()
                        -var m = monthName[article.date.getMonth()]
                        -var y = article.date.getFullYear()
                        p.home-article-date #{d} #{m} #{y}
                        p.home-article-author Przez: 
                            a(href="/users/"+article.author_id) #{ucfirst(article.author)}
                    div.article-right
                        h2
                            a.home-article-title(href="/articles/"+article._id)= article.title
                        .home-article-content !{article.short}... 
        if pageCount > 1
            if page == 1
                a(href="/?page=2") Starsze
            else
                if page != 1
                    a.pageButton(href="/?page=1") <<
                    a.pageButton(href="/?page="+previousPage) <
                    if previousSecondPage != 0
                        a.pageButton(href="/?page="+previousSecondPage)= previousSecondPage
                    a.pageButton(href="/?page="+previousPage)= previousPage
                a.pageButton.currentPage(href="/?page="+page)= page
                if nextPage <= pageCount
                    a.pageButton(href="/?page="+nextPage)= nextPage
                    if nextSecondPage <= pageCount
                        a.pageButton(href="/?page="+nextSecondPage)= nextSecondPage
                    a.pageButton(href="/?page="+nextPage) >
                if page != pageCount
                    a.pageButton(href="/?page="+pageCount) >>
                
            