extends layout

block content
    .main-part.pageTitle
        h1.pageTitle Profil użytkownika: #{ucfirst(userP.username)}
    .main-part.subPage
        .userProfileTitle
            h2 Informacje
        .userInfo
            if allowEdit
                .clearfix
                    if punishUser
                        .left
                            form(action='/users/'+userP._id.toString()+'/action' method='POST')
                                select.form-select(name='controlAction')
                                    option(value='giveWarn') Nadaj ostrzeżenie
                                    option(value='giveBan') Nadaj banicje
                                    if blockAdding
                                        option(value='blockAdding') Nadaj blokadę
                                input.btn.btn-submit(type='submit' value='Zatwierdź')
                    .right
                        a.btn.btn-edit(href="/users/edit/"+userP._id) Edytuj
            .infoRow
                span.info Rejestracja
                span.value #{fullDate(userP.registerDate)}
            .infoRow
                span.info Ranga
                span(class="value type-"+userRankStyle) #{userRank}
            .infoRow
                span.info Email 
                span.value #{userP.email}
            if typeof articles != 'undefined'
                .infoRow
                    span.info Artykuły 
                    span.value
                        a(href="/articles/user/"+userP._id) #{articles}
        if displayLogs
            .tableSection
                .userProfileTitle
                    h2 Logi
                if(typeof warns != 'undefined')
                    h3 Ostrzeżenia
                    div(class=punishUser? "tableHead col-4":"tableHead col-3")
                        span Data
                        span Nadał
                        span Powód
                        if punishUser
                            span Moderacja
                    each warn, i in warns
                        div(class=punishUser? "tableRow col-4":"tableRow col-3")
                            span #{polishDate(warn.date)}
                            span
                                a(href='/articles/'+warn.authorId)= ucfirst(warn.author)
                            span #{warn.reason}
                            if punishUser
                                    span
                                        a(href= userP._id.toString() + "/delete/warn/" + warn._id.toString()) Usuń
                if(typeof bans != 'undefined')
                    h3 Banicje
                    div(class=punishUser? "tableHead col-5":"tableHead col-4")
                        span Data
                        span Nadał
                        span Powód
                        span Wygasa
                        if punishUser
                            span Moderacja
                    each ban, i in bans
                            div(class=punishUser? "tableRow col-5":"tableRow col-4")
                                span #{polishDate(ban.date)}
                                span
                                    a(href='/articles/'+ban.authorId)= ucfirst(ban.author)
                                span #{ban.reason}
                                if ban.dezactivate
                                    span Dezaktywowano
                                else
                                    span #{dateHour(ban.endDate)}
                                if punishUser
                                    span
                                        a(href= userP._id.toString() + "/delete/ban/" + ban._id.toString()) Usuń
                                        a(href=userP._id.toString() + "/dezactivate/ban/" + ban._id.toString()) Dezaktywuj
                if(typeof blocks != 'undefined')
                    h3 Blokady dodawania artykułów
                    div(class=punishUser? "tableHead col-5":"tableHead col-4")
                        span Data
                        span Nadał
                        span Powód
                        span Wygasa
                        if punishUser
                            span Moderacja
                    each block, i in blocks
                            div(class=punishUser? "tableRow col-5":"tableRow col-4")
                                span #{polishDate(block.date)}
                                span
                                    a(href='/articles/'+block.authorId)= ucfirst(block.author)
                                span #{block.reason}
                                if block.dezactivate
                                    span Dezaktywowano
                                else
                                    span #{dateHour(block.endDate)}
                                if punishUser
                                    span
                                        a(href= userP._id.toString() + "/delete/block/" + block._id.toString()) Usuń
                                        a(href=userP._id.toString() + "/dezactivate/block/" + block._id.toString()) Dezaktywuj
                if(typeof articleLogs != 'undefined')
                    h3 Artykuły
                    div(class='tableHead col-5')
                        span Data
                        span Artykuł
                        span Autor logu
                        span Powód
                        span Akcja
                    each articleLog, i in articleLogs
                        if articleLog.displayed
                            div(class='tableRow col-5')
                                -var actionTranslate = {'edit':'Edycja','delete':'Usunięcie'}
                                -var action = actionTranslate[articleLog.action]
                                span #{polishDate(articleLog.date)}
                                span
                                    a(href='/articles/'+articleLog.articleId)= articleLog.title
                                span
                                    a(href='/users/'+articleLog.editorId)= ucfirst(articleLog.editor)
                                span= articleLog.reason
                                span= action

