extends layout

block content
    .main-part.pageTitle
        h1.pageTitle Profil użytkownika: #{ucfirst(userP.username)}
    .main-part.subPage
        .userProfileTitle
            h2 Informacje
        .userInfo
            if allowEdit
                .clearfix
                    if punishUser
                        .left
                            form(action='/users/'+userP._id.toString()+'/action' method='POST')
                                select.form-select(name='controlAction')
                                    option(value='giveWarn') Nadaj ostrzeżenie
                                    option(value='giveBan') Nadaj banicje
                                    if blockAdding
                                        option(value='blockAdding') Nadaj blokadę
                                input.btn.btn-submit(type='submit' value='Zatwierdź')
                    .right
                        a.btn.btn-edit(href="/users/edit/"+userP._id) Edytuj
            -var d = ('0' + userP.registerDate.getDate()).slice(-2)
            -var m = ('0' + (userP.registerDate.getMonth() + 1)).slice(-2)
            -var y = userP.registerDate.getFullYear()
            .infoRow
                span.info Rejestracja
                span.value #{d}.#{m}.#{y}
            .infoRow
                span.info Ranga
                span(class="value type-"+userRankStyle) #{userRank}
            .infoRow
                span.info Email 
                span.value #{userP.email}
            if typeof articles != 'undefined'
                .infoRow
                    span.info Artykuły 
                    span.value
                        a(href="/articles/user/"+userP._id) #{articles}
        .userLogs
            .userProfileTitle
                h2 Logi
            if(typeof warns != 'undefined' && warns!='')
                h3 Ostrzeżenia
                div(class='logHead')
                    span Data
                    span Nadał
                    span Powód
                each warn, i in warns
                    div(class='log')
                        -var monthName = ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad','Grudzień']
                        -var d = warn.date.getDate()
                        -var m = monthName[warn.date.getMonth()]
                        -var y = warn.date.getFullYear()
                        span #{d} #{m} #{y}
                        span
                            a(href='/articles/'+warn.authorId)= ucfirst(warn.author)
                        span #{warn.reason}
            if(typeof logs != 'undefined' && logs!='')
                h3 Artykuły
                div(class='logHead')
                    span Data
                    span Artykuł
                    span Autor logu
                    span Powód
                    span Akcja
                each log, i in logs
                    if log.displayed
                        div(class='log')
                            -var monthName = ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad','Grudzień']
                            -var d = log.date.getDate()
                            -var m = monthName[log.date.getMonth()]
                            -var y = log.date.getFullYear()
                            -var actionTranslate = {'edit':'Edycja','delete':'Usunięcie'}
                            -var action = actionTranslate[log.action]
                            span #{d} #{m} #{y}
                            span
                                a(href='/articles/'+log.articleId)= log.title
                            span
                                a(href='/users/'+log.editorId)= ucfirst(log.editor)
                            span= log.reason
                            span= action

