extends layout

block content
    .main-part.pageTitle
        h1.pageTitle Profil użytkownika: #{ucfirst(userP.username)}
    .main-part.subPage
        .userProfileTitle
            h2 Informacje
        .userInfo
            if allowEdit
                .clearfix
                    if punishUser
                        .left
                            form(action='/users/'+userP._id.toString()+'/action' method='POST')
                                select.form-select(name='controlAction')
                                    option(value='giveWarn') Nadaj ostrzeżenie
                                    option(value='giveBan') Nadaj banicje
                                    if blockAdding
                                        option(value='blockAdding') Nadaj blokadę
                                input.btn.btn-submit(type='submit' value='Zatwierdź')
                    .right
                        a.btn.btn-edit(href="/users/edit/"+userP._id) Edytuj
            -var d = ('0' + userP.registerDate.getDate()).slice(-2)
            -var m = ('0' + (userP.registerDate.getMonth() + 1)).slice(-2)
            -var y = userP.registerDate.getFullYear()
            .infoRow
                span.info Rejestracja
                span.value #{d}.#{m}.#{y}
            .infoRow
                span.info Ranga
                span(class="value type-"+userRankStyle) #{userRank}
            .infoRow
                span.info Email 
                span.value #{userP.email}
            if typeof articles != 'undefined'
                .infoRow
                    span.info Artykuły 
                    span.value
                        a(href="/articles/user/"+userP._id) #{articles}
        if displayLogs
            #{console.log(displayLogs)}
            .tableSection
                .userProfileTitle
                    h2 Logi
                if(typeof warns != 'undefined')
                    h3 Ostrzeżenia
                    div(class='tableHead col-3')
                        span Data
                        span Nadał
                        span Powód
                    each warn, i in warns
                        div(class='tableRow col-3')
                            -var monthName = ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad','Grudzień']
                            -var d = warn.date.getDate()
                            -var m = monthName[warn.date.getMonth()]
                            -var y = warn.date.getFullYear()
                            span #{d} #{m} #{y}
                            span
                                a(href='/articles/'+warn.authorId)= ucfirst(warn.author)
                            span #{warn.reason}
                if(typeof articleLogs != 'undefined')
                    h3 Artykuły
                    div(class='tableHead col-5')
                        span Data
                        span Artykuł
                        span Autor logu
                        span Powód
                        span Akcja
                    each articleLog, i in articleLogs
                        if articleLog.displayed
                            div(class='tableRow col-5')
                                -var monthName = ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad','Grudzień']
                                -var d = articleLog.date.getDate()
                                -var m = monthName[articleLog.date.getMonth()]
                                -var y = articleLog.date.getFullYear()
                                -var actionTranslate = {'edit':'Edycja','delete':'Usunięcie'}
                                -var action = actionTranslate[articleLog.action]
                                span #{d} #{m} #{y}
                                span
                                    a(href='/articles/'+articleLog.articleId)= articleLog.title
                                span
                                    a(href='/users/'+articleLog.editorId)= ucfirst(articleLog.editor)
                                span= articleLog.reason
                                span= action

