extends layout

block content
    .main-part.pageTitle
        h1.pageTitle Profil użytkownika: #{ucfirst(userP.username)}
    .main-part.subPage
        .userProfileTitle
            h2 Informacje
        .userInfo
            if allowEdit
                a.btn.btn-edit.btn-right(href="/users/edit/"+userP._id) Edytuj
            -var typeTranslate = {'moderator': 'Moderator','admin': 'Administrator','user': 'Użytkownik','journalist':'Redaktor'}
            -var type = typeTranslate[userP.type]
            -var d = ('0' + userP.registerDate.getDate()).slice(-2)
            -var m = ('0' + (userP.registerDate.getMonth() + 1)).slice(-2)
            -var y = userP.registerDate.getFullYear()
            .infoRow
                span.info Rejestracja
                span.value #{d}.#{m}.#{y}
            .infoRow
                span.info Ranga
                span(class="value type-"+userP.type) #{type}
            .infoRow
                span.info Email 
                span.value #{userP.email}
            if typeof articles != 'undefined'
                .infoRow
                    span.info Artykuły 
                    span.value #{articles}
        .userLogs
            if(typeof logs != 'undefined' && logs!='')
                .userProfileTitle
                    h2 Logi
                div(class='logHead')
                    span Data
                    span Artykuł
                    span Autor logu
                    span Powód
                    span Akcja
                each log, i in logs
                    if log.displayed
                        div(class='log')
                            -var monthName = ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad','Grudzień']
                            -var d = log.date.getDate()
                            -var m = monthName[log.date.getMonth()]
                            -var y = log.date.getFullYear()
                            -var actionTranslate = {'edit':'Edycja','delete':'Usunięcie'}
                            -var action = actionTranslate[log.action]
                            span #{d} #{m} #{y}
                            span
                                a(href='/articles/'+log.articleId)= log.title
                            span
                                a(href='/users/'+log.editorId)= ucfirst(log.editor)
                            span= log.reason
                            span= action

