extends layout

block content
    .main-part.pageTitle
        h1.pageTitle Lista użytkowników
    .main-part.subPage
        .clearfix
            .right
                .searchBar
                        form(action="/users/list/" method="POST")
                            select(name='rank')
                                option(value='all') Wszyscy
                                each type, i in translatedRanks
                                    if searchRank == i
                                        option(value=i selected)= type
                                    else
                                        option(value=i)= type
                            input(type="text" name="username" placeholder="Wyszukaj..." class='searchTxt')
                            button(type="submit")
                                i.fa.fa-search
        .tableSection
            div(class='tableHead col-3')
                span Data rejestracji
                span Nazwa użytkownika
                span Ranga
            each user, i in users
                -var d = ('0' + user.registerDate.getDate()).slice(-2)
                -var m = ('0' + (user.registerDate.getMonth() + 1)).slice(-2)
                -var y = user.registerDate.getFullYear()
                div(class='tableRow col-3')
                    span #{d}.#{m}.#{y}
                    span
                        a(href='/users/'+user._id)= ucfirst(user.username)
                    span(class= "type-"+user.rank)= translatedRanks[user.rank]

